@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Noto Serif", serif;
}

body {
    background-color: #f7f3ef;
    color: #4b2e2e;
}

.sidebar {
    background: linear-gradient(180deg, #d2b48c, #a9746e);
    min-height: 100vh;
    padding: 30px;
    color: #fffaf5;
    /*border-radius: 30px;*/
}

.sidebar a:visited {
    color: #fffaf5;
}

.sidebar a {
    color: #fffaf5;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #fffaf5;
    color: #000;
    ;
    border-radius: 5px;
}



.toggle-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    background-color: #a9746e;
    border: none;
    color: white;
    font-size: 22px;
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 1000;
    display: none;
}

.Desplegar-filtro {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    color: #666;
    font-size: 14px;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23666" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    padding-right: 30px;
}

@media (max-width: 768px) {
    .toggle-btn {
        display: block;
    }

    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 220px;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1050;
    }

    #sidebar.active {
        transform: translateX(0);
    }

    .top {
        margin-top: 70px;
    }
}