<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">


<body>
    <nav class="navbar navbar-expand-lg" th:fragment="menuMozo">
        <div class="container-fluid">
            <img src="/image/logoLPS.png" class="navbar-brand" alt="" width="120" height="100">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            
                    <li class="nav-item">
                        <a class="nav-link" href="/mozo/mesasMozo">Mesas</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Pedidos</a>
                    </li>

                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="dropdown-item">Cerrar sesión</button>
                        </form>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

</body>

</html>