<nav class="navbar navbar-expand-lg" th:fragment="menuMozo">
    <div class="container-fluid">
        <div class="navbar-brand-container">
            <img src="/image/logoLPS.png" class="logo-img" alt="La Punta Sabrosa Logo" width="100" height="80">
            <h1 class="brand-text">La Punta Sabrosa</h1>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/mozo/mesasMozo">
                        <i class="fas fa-table nav-icon"></i>Mesas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-clipboard-list nav-icon"></i>Pedidos
                    </a>
                </li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-logout">
                            <i class="fas fa-sign-out-alt"></i>Cerrar sesión
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>